# Dependencies
node_modules/

# Build
dist/
build/
.output/
.nuxt/
.nitro/
.cache/

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Docker
docker-compose.override.yml
