services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: althea
      POSTGRES_PASSWORD: althea_secret
      POSTGRES_DB: althea_dev
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    ports:
      - "3333:3333"
    volumes:
      - ./apps/api:/app
      - /app/node_modules
    depends_on:
      - postgres
      - mongo
    environment:
      NODE_ENV: development
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: althea
      DB_PASSWORD: althea_secret
      DB_DATABASE: althea_dev
      HOST: 0.0.0.0
      PORT: 3333

  storefront:
    build:
      context: ./apps/storefront
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./apps/storefront:/app
      - /app/node_modules
    depends_on:
      - api

  backoffice:
    build:
      context: ./apps/backoffice
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    volumes:
      - ./apps/backoffice:/app
      - /app/node_modules
    depends_on:
      - api

volumes:
  pg_data:
  mongo_data:
