@import "tailwindcss";

@theme {
  --color-brand-50: #d4f4f7;
  --color-brand-300: #33bfc9;
  --color-brand-500: #00a8b5;
  --color-brand-900: #003d5c;

  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Poppins", ui-sans-serif, system-ui, sans-serif;
}
