TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=althea_images
STOREFRONT_URL=http://localhost:3000
MAIL_DRIVER=log
MAIL_FROM_ADDRESS=no-reply@althea.local
MAIL_FROM_NAME=Althea Systems
SMTP_HOST=localhost
SMTP_PORT=1025
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=eur